{% for block in section.blocks %}
  {% if block.type == 'header' %}
    <h3 class="faq-header">{{ block.settings.header }}</h3>
  {% else %}
    <div class="accordion" id="{{id}}">
      {{ block.settings.question -}}
      <span></span>
    </div>
    <div class="container">
      <div class="content">
        <div>{{ block.settings.answer }}</div>
      </div>
    </div>
  {% endif %}
{% endfor %}
{% schema %}
{
   "name":"FAQ3",

   "settings":[],
   "blocks":[
               {
                 "type": "slide",
                 "name": "Question",
                 "settings": [
                               {
                                "type": "header",
                                "content": "Question Item"
                               },
                               {
                                "type": "number",
                                "id": "id",
                                "label": "id — integer"
                               },
                               {
                                "type": "text",
                                "id": "question",
                                "label": "Question — text"
                               },
                               {
                                "type": "html",
                                "id": "answer",
                                "label": "Answer — html"
                               }
                             ]
               },
               {
                 "type": "header",
                 "name": "Header",
                 "settings": [
                               {
                                 "type": "header",
                                 "content": "Header"
                               },
                               {
                                 "type": "text",
                                 "id": "header",
                                 "label": "Header"
                               }
                             ]
               }
            ],
  "presets": [
    {
      "name": "FAQ3"
    }
  ]
 }
{% endschema %}
